.select {
    height: 5rem;
    min-width: 23rem;
    background: var(--gray-light);
    border-radius: var(--radius-6);
    padding: 1.5rem;
    transition: var(--transition-1);
    position: relative;

    &::placeholder {
        color: var(--gray);
        font-size: 1.5rem;
    }

    &:is(:hover) {
        box-shadow: 0px 20px 50px -8px rgba(69, 78, 96, 0.15);
    }

    &.input-white {
        background: var(--white);
    }

    .select-text {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btn-dropdown__icon {
            transform: rotate(0deg);
            img {
                width: 14px;
                height: 8px;
                transition: var(--transition-1);
            }
        }
    }

    .select-list {
        position: absolute;
        top: 6rem;
        left: 0;
        width: 100%;
        border-radius: var(--radius-6);
        z-index: 5;
        background: var(--gray-light);
        box-shadow: 0px 20px 50px -8px rgba(69, 78, 96, 0.15);
        display: none;

        &.show {
            display: block;
        }
    }

    .select-item {
        padding: 1.5rem 0 1.5rem 1.5rem;
        cursor: pointer;

        &:hover {
            background: var(--light);
        }
    }
}