extends pug/base

append content
    include pug/includes/header

    .section.section-news.section-catalog__newslist
        .section-menu
            ul.section-menu__list
                li.section-menu__item
                    p 1 560 ₽
                    button.btn.btn-rounded
                        .btn-badge 2
                        .btn-rounded__img
                            svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M6 2L3 6V20C3 20.5304 3.21071 21.0391 3.58579 21.4142C3.96086 21.7893 4.46957 22 5 22H19C19.5304 22 20.0391 21.7893 20.4142 21.4142C20.7893 21.0391 21 20.5304 21 20V6L18 2H6Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                path(d="M3 6H21" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                path(d="M16 10C16 11.0609 15.5786 12.0783 14.8284 12.8284C14.0783 13.5786 13.0609 14 12 14C10.9391 14 9.92172 13.5786 9.17157 12.8284C8.42143 12.0783 8 11.0609 8 10" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

                li.section-menu__item
                    button.btn.btn-rounded
                        .btn-rounded__img
                            svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M13 2H6C5.46957 2 4.96086 2.21071 4.58579 2.58579C4.21071 2.96086 4 3.46957 4 4V20C4 20.5304 4.21071 21.0391 4.58579 21.4142C4.96086 21.7893 5.46957 22 6 22H18C18.5304 22 19.0391 21.7893 19.4142 21.4142C19.7893 21.0391 20 20.5304 20 20V9L13 2Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                path(d="M13 2V9H20" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    
                li.section-menu__item
                    button.btn.btn-rounded
                        .btn-rounded__img
                            svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M26.6666 28V25.3333C26.6666 23.9188 26.1047 22.5623 25.1045 21.5621C24.1043 20.5619 22.7477 20 21.3333 20H10.6666C9.2521 20 7.89554 20.5619 6.89535 21.5621C5.89515 22.5623 5.33325 23.9188 5.33325 25.3333V28" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                path(d="M16.0001 14.6667C18.9456 14.6667 21.3334 12.2789 21.3334 9.33333C21.3334 6.38781 18.9456 4 16.0001 4C13.0546 4 10.6667 6.38781 10.6667 9.33333C10.6667 12.2789 13.0546 14.6667 16.0001 14.6667Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")


        .container
            +breadcrumbs("Главная", "Новости", "Самое ценное в нашем мире - овощи")

            ul.news__list
                li.news__item
                    .news__item-content
                        .title-2 «Самое ценное в нашем мире — овощи»
                        .news__item-hash.text-small #Новости 
                            span.news__item-date 17.01.22
                        .news__item-text.
                            Повседневная практика показывает, что реализация намеченных плановых заданий играет важную роль
                            в формировании систем массового участия. Задача организации, в особенности же рамки 
                            и место обучения кадров требуют определения и уточнения новых предложений. 
                            С другой стороны постоянный количественный рост и сфера нашей активности 
                            способствует подготовки и реализации новых предложений.
                    img.news__item-img(src="images/news/1.jpg" alt="")

                li.news__item
                    img.news__item-img(src="images/news/1.jpg" alt="")
                    .news__item-content
                        .news__item-text.
                            Повседневная практика показывает, что реализация намеченных плановых заданий играет важную роль
                            в формировании систем массового участия. Задача организации, в особенности же рамки 
                            и место обучения кадров требуют определения и уточнения новых предложений. 
                            С другой стороны постоянный количественный рост и сфера нашей активности 
                            способствует подготовки и реализации новых предложений.

                li.news__item
                    .news__item-text.
                        Повседневная практика показывает, что реализация намеченных плановых заданий играет важную роль
                        в формировании систем массового участия. Задача организации, в особенности же рамки 
                        и место обучения кадров требуют определения и уточнения новых предложений. 
                        С другой стороны постоянный количественный рост и сфера нашей активности 
                        способствует подготовки и реализации новых предложений.

            .news__buttons
                button.btn.btn-big.btn-disabled Предыдущая новость
                button.btn.btn-big.btn-outlined Следующая новость

    include pug/includes/footer
    